<main class="container">


  <button mat-button (click)="pagePrecedente()" [disabled]="!hasPrevPage">Page précédente</button>
  &nbsp;&nbsp;
  <button mat-button (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
<div class="cards">
  <div class="card" >
    <h2>Assignments rendu</h2>
    <mat-list *ngFor="let assignment of assignments" > 
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
        <mat-list-item (click)="assignmentClique(assignment)">
          <p *ngIf="assignment.rendu; else nonsoumis" appRendu>
            {{assignment.nom}}, a été rendu par l'élève.
            rendu : {{assignment.rendu}}
            {{assignment._matiere}}

          </p>
          <ng-template #nonsoumis>
            {{assignment.nom}} pas encore rendu.
          </ng-template>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
    </mat-list>
  </div>  

  <div class="card">
    <h2>Assignments non rendu</h2>
    <mat-list *ngFor="let assignment of assignments" > 
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
        <mat-list-item (click)="assignmentClique(assignment)">
          <p *ngIf="assignment.rendu; else nonsoumis" appRendu>
            {{assignment.nom}}, a été rendu par l'élève.
            rendu : {{assignment.rendu}}
            {{assignment._matiere}}

          </p>
          <ng-template #nonsoumis>
            {{assignment.nom}} pas encore rendu.
          </ng-template>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
    </mat-list>
  </div> 
</div> 
</main>
