<main class="container">
    
  <button mat-button (click)="pagePrecedente()" [disabled]="!hasPrevPage">Page précédente</button>
  &nbsp;&nbsp;
  <button mat-button (click)="pageSuivante()" [disabled]="!hasNextPage">Page Suivante</button>
    <div class="cards">
      <div class="card">
        <mat-list *ngFor="let prof of profs">
          <a routerLink="/prof/{{prof.id}}">
            <h1 mat-subheader>Nom:{{prof.nom}}</h1>
            <h2 mat-subheader>Prenom:{{prof.prenom}}</h2>
            <h3 mat-subheader>Adresse:{{prof.adresse}}</h3>
            <h3 mat-subheader>Photo{{prof.photo}}</h3>
            <mat-list-item (click)="profClique(prof)">
              <ng-template #nonsoumis>
                {{prof.nom}} pas encore rendu.
              </ng-template>
            </mat-list-item>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
    
  </main>
  